# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# React
node_modules/
build/
dist/

# Environment variables
.env

# Python
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# Virtualenv
.venv/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db